<script type="application/ld+json">
{
  {% if page.is_post %}
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ page.title | escape }}",
  "description": "{{ page.description | escape }}",
  {% if page.date %}
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  {% else %}
  "datePublished": "{{ site.time | date_to_xmlschema }}",
  {% endif %}
  "author": {
    "@type": "Person",
    "name": "{{ site.author.name | default: site.author | escape }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ site.title | escape }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url }}{{ site.baseurl }}{{ site.image }}"
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ page.url | absolute_url }}"
  }
  {% else %}
  "@context": "https://schema.org",
  "@type": "WebApplication",
  "name": "{{ site.title | escape }}",
  "url": "{{ site.url }}{{ site.baseurl }}",
  "description": "{{ site.description | escape }}",
  "applicationCategory": "WebApplication",
  "operatingSystem": "All",
  "author": {
    "@type": "Organization",
    "name": "{{ site.title | escape }}"
  }
  {% endif %}
}
</script>
