<!-- PeerJS -->
<script src="https://unpkg.com/peerjs@1.5.5/dist/peerjs.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script> 

<!-- Firebase (compat version) -->
<script src="https://www.gstatic.com/firebasejs/12.1.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/12.1.0/firebase-database-compat.js"></script>
  
<script>
  const base = 96276;
  let current = base;

  setInterval(() => {
    const change = Math.floor(Math.random() * 7) - 3;
    current += change;

    if (current > base + 100) current = base + 100;
    if (current < base - 100) current = base - 100;

    document.getElementById("userCount").innerText = current.toLocaleString() + "+";
  }, 1500);
</script>
