:root 
    {
        --m-logo: 3.5vh;
        --font-size1: 16px;
        --mar-btn: 1vw;
        --mar-txt: 5vh;
        --l-width: 22vw;
    }
    @media (min-width:768px) {
        :root 
            {
                --m-logo: 2vh;
                --font-size1: 18px;
                --mar-btn: 1.5vh;
                --mar-txt: 2vh;
                --l-width: 22vw;
            }
    }
    @media (min-width:1439px) 
    {
        :root 
            {
                --m-logo: 5vh;
                --font-size1: 20px;
                --mar-btn: 2vh;
                --mar-txt: 2vh;
                --l-width: 21.5vw;
            }
    }

    .back
    {
	background-position: center center;
        -webkit-background-size: cover;
        background-size: cover;
	background: linear-gradient(to bottom left, white 50%, black 50%);
    }
    .btn-div
    {
        max-width: 1360px;
        height: 91.5vh;
        background: rgba(255, 255, 255, 0.7) 0% 0% no-repeat padding-box;
        backdrop-filter: blur(25px);
    }
    
    .btn1
    {
        margin:var(--mar-btn);
        opacity: 1!important;
        width: 21.5vw;
        min-width: 100px;
        max-width:200px;
        height: 6.9vh;
        max-height: 64px;
        min-height: 45px;
        background-color: #B5B1B1;
        color: #137EB2;
        border-radius: 4px;
    }
    
    .btn1:hover,
    .btn1:focus
    {
        background-color: #137EB2;
        color: #F1F1F1;
        border-color: #020B50;
        border-width: 1px;
    }
    .btn1:after
    {
        font-size:var(--font-size1);
    }
    .btn1:hover:after
    {
        font-size:var(--font-size1);
    }
    .text-responsive
    {
        text-align: center;
        font: normal normal bold var(--font-size1) 'Roboto';
        font-family: Helvetica,Arial,sans-serif;
        letter-spacing: 0px;
        color: #137EB2;
        opacity: 1;
    }
.hidden {
            display: none;
}
    .top
    {
        height:8.5vh;
        padding: 1.25vh;
    }
    .logo
    {
        height: 6vh;
        width: auto;
        max-height: 95px;
        min-height: 40px;
    }
    @media (max-width:385px) {
        .text-responsive{
            padding-left: 30px;
            padding-right: 30px;
        }
    }

.black-box-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.black-box-button:hover {
  background-color: #333; /* Change color on hover if needed */
}
 input {
  width: 200px;
  height: 42px;
  boarder: 1px solid black;
  border-radius: 5px;
}
