:root 
    {
        --m-logo: 3.5vh;
        --font-size1: 16px;
        --mar-btn: 1vw;
        --mar-txt: 5vh;
        --l-width: 22vw;
    }
    @media (min-width:768px) {
        :root 
            {
                --m-logo: 2vh;
                --font-size1: 18px;
                --mar-btn: 1.5vh;
                --mar-txt: 2vh;
                --l-width: 22vw;
            }
    }
    @media (min-width:1439px) 
    {
        :root 
            {
                --m-logo: 5vh;
                --font-size1: 20px;
                --mar-btn: 2vh;
                --mar-txt: 2vh;
                --l-width: 21.5vw;
            }
    }

    .btn-div
    {
        max-width: 1360px;
        height: 91.5vh;
    }
    .btn1
    {
        margin:var(--mar-btn);
        opacity: 1!important;
        width: 21.5vw;
        min-width: 100px;
        max-width:200px;
        height: 6.9vh;
        max-height: 64px;
        min-height: 45px;
        border-radius: 4px;
    }
    .text-responsive
    {
        text-align: center;
        font: normal normal bold var(--font-size1) 'Roboto';
        font-family: Helvetica,Arial,sans-serif;
        letter-spacing: 0px;
        color: #137EB2;
        opacity: 1;
    }

.hidden {
            display: none;
}

    .top
    {
        height:8.5vh;
        padding: 1.25vh;
    }
    .logo
    {
        height: 6vh;
        width: auto;
        max-height: 50px;
        min-height: 30px;
    }
    @media (max-width:385px) {
        .text-responsive{
            padding-left: 30px;
            padding-right: 30px;
        }
}
