services:
  - type: web
    name: youtube-api
    env: python
    plan: free
    region: oregon
    
    buildCommand: pip install -r requirements.txt
    
    startCommand: uvicorn main:app --host 0.0.0.0 --port 10000
    
    autoDeploy: true
